body {
    font-family: 'PT Sans Caption', sans-serif;
}

ul,
ol {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside
}

a {
    color: #FFCF11;
}

a:hover {
    color: #faeaa8;
    text-decoration: inherit;
}
.header-1 {
    background-color: #384A60;
    padding-top: 20px;
}

.header-2 {
    background-image: url(../img/background.png);
    background-repeat: repeat;
    padding: 10px;
}

.logo {
    text-align: center;
}

.logo a {
    color: #3C4457;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

.logo a:hover {
    color: #FFCF11;
    text-decoration: none;
}

.logo img {
    height: 100px;
}

.header-3 {
    border-top: 3px solid #FFCF11;
    background-color: #384A60;
}

.navbar {
    box-shadow: none;
    padding: 0px !important;
}

.navbar a {
    color: #FFCF11;
    padding-right: 7.5px;
    padding-left: 7.5px;
    padding: 15px 15px;
}

.navbar a:hover {
    text-decoration: none;
    color: #FFCF11;
    background-color: #4b657f;
}

.navbar-nav li ul {
    display: none;
    position: absolute;
    list-style: none;
    background: #fff;
}

.navbar-nav {
    display: block;
    list-style: none;
    margin: 0;
    width: 65%;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-nav li {
    float: left;
}

.navbar-nav a {
    display: block;
}

.navbar-nav li ul {
    display: none;
    position: absolute;
    list-style: none;
    background: #fff;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.30);
}

.navbar-nav li:hover ul {
    display: block;
}

.navbar-nav li:hover ul {
    display: block;
}

.seo_social {
    position: static;
    z-index: auto;
}

.seo_social a {
    display: inline;
    color: #FFCF11;
    text-transform: none;
    padding: 0;
    font-size: medium;
    float: none;
    background: 0;
    transition: none;
    padding-left: 5px;
    padding-right: 5px;
}

.seo_social .i-facebook {
    color: #3b5998;
}

.seo_social .i-twitter {
    color: #00acee;
}

.seo_social .i-youtube {
    color: #c4302b;
}

.seo_social a:hover {
    background: 0;
    border-radius: 5px;
}

.seo_social .i-facebook:hover {
    color: white;
    background-color: #3b5998;
}

.seo_social .i-twitter:hover {
    color: white;
    background-color: #00acee;
}

.seo_social .i-youtube:hover {
    color: white;
    background-color: #c4302b;
}

.fa-bars {
    color: white;
}

section {
    margin-top: 20px;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
}

section h1.title_main,
section h2.title_main {
    border-bottom: 3px solid #FFCF11;
}

article h3 a:hover,
article h3 a:focus {
    color: black;
}

article h3 a {
    color: black;
}

article .fa-clock,
article .fa-calendar-day {
    color: #FFCF11;
}

article .btn,
.form-group .btn,
.btn-sumbit {
    background-color: #FFCF11;
    color: white;
}

article .btn:hover,
article .btn:focus,
.form-group .btn:hover,
.form-group .btn:focus,
.btn-sumbit:hover,
.btn-sumbit:focus {
    background-color: rgb(255, 223, 96);
    color: white;
}

article .span-atc-1 {
    float: left;
}

article .span-atc-2 {
    float: right;
}

footer {
    border-top: 3px solid #FFCF11;
    color: white;
}

.footer-1 {
    background-color: #384A5F;
    padding-bottom: 15px;
}

.footer-1 a {
    color: #FFCF11;
}

.footer-1 a:hover {
    color: #faeaa8;
    text-decoration: inherit;
}


.footer-1 .col-md-4 {
    padding-top: 10px;
}

footer .major h1,
footer .major h2,
footer .major h3,
footer .major h4,
footer .major h5 {
    position: relative;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

footer .major h1::after,
footer .major h2::after,
footer .major h3::after,
footer .major h4::after,
footer .major h5::after {
    border-bottom: 2px solid #FFCF11;
    width: 50%;
    content: '';
    top: 17px;
    display: block;
    position: relative;
}

.news a,
.mdp-forget {
    color: #FFCF11;
}

.mdp-forget:hover,
.mdp-forget:focus {
    color: #FFCF11
}

.news a:hover {
    text-decoration: inherit;
}


.footer-2 {
    background-color: #425367;
}

.footer-2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-2 a {
    color: #FFCF11;
}

.footer-2 a:hover {
    color: #faeaa8;
    text-decoration: inherit;
}

.float {
    float: right;
}

.float a {
    padding: 0px 5px;
}

@media only screen and (max-width: 1200px) {
    .p {
        height: 26px;
    }

    .float {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-nav {
        display: flex;
        padding-bottom: 5px;
    }

    .navbar a {
        padding: 0 0;
    }

    .seo_social a {
        display: none;
    }

    .navbar-nav {
        margin: 0 auto;
        text-align: center;
    }

    .float {
        float: inherit;
        text-align: center;
    }
}

@media only screen and (max-width: 358px) {
    .reseaux-social {
        height: 50px;
    }
}

@media only screen and (max-width: 350px) {
    .derniere-news {
        height: 50px;
    }
}

/* contact */
.form-group .btn {
    margin-top: 10px;
    background-color: #FFCF11 !important;
}

.block-actions {
    z-index: 1;
}